body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/* Existing styles... */

#snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 1000;
}

@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

@keyframes sink {
    to { transform: translateY(48vh); }
}

.greeting {
    position: absolute;
    color: green;
    font-size: 2em;
}

.countdown {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: green;
    z-index: 2000;
}